{% extends 'base.html' %} {% block content %}
  <body>


      <h1>No Eager Men is a music group based on dramatic vocals and a buoyant upright piano. The band size and music can expand or contract to rock a dive bar or add some theatrics to a gallery opening, including drum kit and tremolo guitar when necessary. We’re 99.99% original lyric centered material & the songs are our focus. We need them more than they need us.  We hail from the bay area south coast, but are licensed to operate motor vehicles. </h1>
  </body>
{% endblock %}
