{% extends 'base.html' %} {% block content %}
<body>
      <img id="main-pic" src="static/images/stairs.jpg" alt="Band Picture">

      <!-- Use any element to open/show the overlay navigation menu -->
      <span class="title" onclick="openNav()">NO EAGER MEN</span>
      <!-- The overlay -->
      <div id="myNav" class="overlay">

        <!-- Button to close the overlay navigation -->
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

        <!-- Overlay content -->
        <div class="overlay-content site-navigation">
          <a href ="about" onclick="closeNav()">About</a>
          <a href="#music">Music</a>
          <a href="photos">Photos</a>
          <a href="#links">Links</a>
          <a href="#contact">Contact</a>
          <a href="#merch">Merch</a>
        </div>


    </div>


  </body>


{% endblock %}
