<!doctype html>
<html>
<head>
  <h1 class='title'>No Eager Men</h1>
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="static/main.js"></script>
  <link rel="stylesheet" type="text/css" href="static/styles.css">
  <script src="js/jquery.combinedScroll.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Codystar" rel="stylesheet">
</head>
  <body>
    <div id="top"></div>

    <div class="images-wrapper">
      <img class="main_pic" src="static/images/stairs.jpg" alt="Band Picture" style="width:304px;height:228px;">
      <!-- The overlay -->
      <div id="myNav" class="overlay">

        <!-- Button to close the overlay navigation -->
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

        <!-- Overlay content -->
        <div class="overlay-content site-navigation">
          <a href ="#about" onclick="closeNav()">About</a>
          <a href="#music">Music</a>
          <a href="#links">Links</a>
          <a href="#contact">Contact</a>
          <a href="#merch">Merch</a>
        </div>

      </div>

      <!-- Use any element to open/show the overlay navigation menu -->
      <span class="title" onclick="openNav()">NO EAGER MEN</span>
    </div>

    <section id="about">

      <h1>No Eager Men is a music group based on dramatic vocals and a buoyant upright piano. The band size and music can expand or contract to rock a dive bar or add some theatrics to a gallery opening, including drum kit and tremolo guitar when necessary. We’re 99.99% original lyric centered material & the songs are our focus. We need them more than they need us.  We hail from the bay area south coast, but are licensed to operate motor vehicles. </h1>



    </section>
  </body>
</html>
